In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import numpy as np
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

import optuna
from sklearn.gaussian_process.kernels import RBF, ConstantKernel as C, DotProduct, ExpSineSquared, WhiteKernel, RationalQuadratic

In [9]:
df = pd.read_csv('./ALL_US_monthly_dataset.csv')
df.tail()

,time,region,number,spatial_ref,T,LOAD,population,height,T.historical.ukesm1_0_ll,T.historical.mpi_esm1_2_lr,T.historical.hadgem3_gc31_ll,T.historical.ipsl_cm6a_lr,T.ssp126.hadgem3_gc31_ll,T.ssp126.mpi_esm1_2_lr,T.ssp126.ipsl_cm6a_lr,T.ssp126.ukesm1_0_ll,T.ssp585.ipsl_cm6a_lr,T.ssp585.ukesm1_0_ll,T.ssp585.hadgem3_gc31_ll,T.ssp585.mpi_esm1_2_lr
224,2009-08-31,ALL_US,0,0,295.54092,3.898784e+06,3.024553e+08,1.5,297.878548,297.699137,297.598613,296.383361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,2009-09-30,ALL_US,0,0,292.48663,3.883725e+06,3.026784e+08,1.5,294.754012,292.668880,293.045703,291.541255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,2009-10-31,ALL_US,0,0,283.34012,3.867260e+06,3.029097e+08,1.5,287.459794,286.354631,286.137755,285.258437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,2009-11-30,ALL_US,0,0,280.48853,3.850452e+06,3.031343e+08,1.5,279.061025,276.369018,280.179934,278.254209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,2009-12-31,ALL_US,0,0,271.41300,3.832180e+06,3.033671e+08,1.5,271.832356,272.241658,275.660671,271.635931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
tdf = pd.read_csv('./temp_projections.csv')
tdf.head()

,Unnamed: 0,time,region,T.ssp126.hadgem3_gc31_ll,T.ssp585.hadgem3_gc31_ll,T.ssp126.ipsl_cm6a_lr,T.ssp585.ipsl_cm6a_lr,T.ssp126.mpi_esm1_2_lr,T.ssp585.mpi_esm1_2_lr,T.ssp126.ukesm1_0_ll,T.ssp585.ukesm1_0_ll
0,0,2015-01-31,ALL_US,268.231508,269.334726,271.795622,271.716875,272.453908,272.982605,270.242690,268.630581
1,1,2015-01-31,ERCOT,278.652910,279.243017,279.589923,282.135183,280.127382,282.130090,282.628712,280.195353
2,2,2015-01-31,FRCC,286.897602,286.948662,293.399009,289.919214,289.111629,290.650520,291.227886,290.263875
3,3,2015-01-31,MRO,260.082348,261.965937,266.281254,263.460877,268.119180,268.344648,261.350131,260.637310
4,4,2015-01-31,NPCC,263.341845,265.346111,266.559703,266.028669,264.868384,265.497085,264.399085,261.952242

In [7]:
f_tdf = tdf[tdf['region'] == 'ALL_US']

In [11]:
f_tdf.head(20)

,Unnamed: 0,time,region,T.ssp126.hadgem3_gc31_ll,T.ssp585.hadgem3_gc31_ll,T.ssp126.ipsl_cm6a_lr,T.ssp585.ipsl_cm6a_lr,T.ssp126.mpi_esm1_2_lr,T.ssp585.mpi_esm1_2_lr,T.ssp126.ukesm1_0_ll,T.ssp585.ukesm1_0_ll
0,0,2015-01-31,ALL_US,268.231508,269.334726,271.795622,271.716875,272.453908,272.982605,270.242690,268.630581
9,9,2015-02-28,ALL_US,273.409782,272.509525,272.431781,276.044049,274.098380,275.100712,274.296494,275.007677
18,18,2015-03-31,ALL_US,278.457644,276.591210,277.726071,278.232569,277.549157,277.975997,276.947550,277.628577
27,27,2015-04-30,ALL_US,284.218819,282.347309,281.657701,283.517370,284.051703,283.423533,283.805902,282.612755
36,36,2015-05-31,ALL_US,288.369684,289.742551,287.199942,287.784082,288.287246,288.971160,288.422169,290.331497
45,45,2015-06-30,ALL_US,293.055724,292.931970,292.664158,291.961491,293.025550,293.080677,294.564841,295.436992
54,54,2015-07-31,ALL_US,298.164583,297.718505,296.167211,295.938226,297.045581,296.548008,297.986003,298.471983
63,63,2015-08-31,ALL_US,298.181956,298.531675,296.734992,296.331440,297.704546,296.457569,298.192169,299.151528
72,72,2015-09-30,ALL_US,294.571574,295.571259,293.782447,291.812131,291.762854,292.092668,293.346846,292.661082
81,81,2015-10-31,ALL_US,287.286677,290.550502,286.603947,286.184071,284.382349,286.219414,286.777234,286.114600
90,90,2015-11-30,ALL_US,279.067973,278.955277,278.396850,280.216006,276.962998,279.464593,279.643718,277.086353
99,99,2015-12-31,ALL_US,273.158892,271.307266,274.009182,272.564048,273.919571,274.429654,273.496032,272.054072
108,108,2016-01-31,ALL_US,270.094931,270.770232,272.775114,271.694380,269.245021,273.754775,269.466526,268.694242
117,117,2016-02-29,ALL_US,273.348522,273.634394,271.671881,270.480488,270.030948,274.457982,270.676469,269.917868
126,126,2016-03-31,ALL_US,277.326595,278.617148,277.561033,276.035073,275.384270,278.706108,272.898579,275.994319
135,135,2016-04-30,ALL_US,282.231326,283.612875,281.176592,280.213550,284.085824,283.430746,282.619688,284.279706
144,144,2016-05-31,ALL_US,290.388116,290.909629,288.843028,286.258381,286.971303,288.669610,290.123632,289.799576
153,153,2016-06-30,ALL_US,295.355871,295.598783,292.467149,292.565643,292.975277,292.428150,295.112627,294.263937
162,162,2016-07-31,ALL_US,298.320597,298.679309,296.485684,296.452135,296.605671,296.656797,299.536619,297.691694
171,171,2016-08-31,ALL_US,299.046602,298.651212,296.322790,296.008041,295.217815,297.340823,299.036868,298.244244

In [17]:
pdf = pd.read_csv('./future_pop_2060.csv')
pdf.head()

         time  population
0  2015-01-31   320997000
1  2015-02-28   321174898
2  2015-03-31   321352667
3  2015-04-30   321530307
4  2015-05-31   321707818

In [18]:
fdf_sel = f_tdf[['time', 'T.ssp126.hadgem3_gc31_ll', 'T.ssp585.hadgem3_gc31_ll', 'T.ssp126.ipsl_cm6a_lr', 'T.ssp585.ipsl_cm6a_lr']]
fdf_sel.head()

,time,T.ssp126.hadgem3_gc31_ll,T.ssp585.hadgem3_gc31_ll,T.ssp126.ipsl_cm6a_lr,T.ssp585.ipsl_cm6a_lr
0,2015-01-31,268.231508,269.334726,271.795622,271.716875
9,2015-02-28,273.409782,272.509525,272.431781,276.044049
18,2015-03-31,278.457644,276.591210,277.726071,278.232569
27,2015-04-30,284.218819,282.347309,281.657701,283.517370
36,2015-05-31,288.369684,289.742551,287.199942,287.784082

In [19]:
df_merged = pd.merge(fdf_sel, pdf, on='time', how='inner')
df_merged.head(10)

,time,T.ssp126.hadgem3_gc31_ll,T.ssp585.hadgem3_gc31_ll,T.ssp126.ipsl_cm6a_lr,T.ssp585.ipsl_cm6a_lr,population
0,2015-01-31,268.231508,269.334726,271.795622,271.716875,320997000
1,2015-02-28,273.409782,272.509525,272.431781,276.044049,321174898
2,2015-03-31,278.457644,276.591210,277.726071,278.232569,321352667
3,2015-04-30,284.218819,282.347309,281.657701,283.517370,321530307
4,2015-05-31,288.369684,289.742551,287.199942,287.784082,321707818
5,2015-06-30,293.055724,292.931970,292.664158,291.961491,321885201
6,2015-07-31,298.164583,297.718505,296.167211,295.938226,322062455
7,2015-08-31,298.181956,298.531675,296.734992,296.331440,322239581
8,2015-09-30,294.571574,295.571259,293.782447,291.812131,322416577
9,2015-10-31,287.286677,290.550502,286.603947,286.184071,322593445

In [20]:
df_merged.to_csv('future_proj_data_2060.csv', index=False)